@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --primary-color: #77BA99;
    --secondary-color: #EFF0D1;
    --text-color: #262730;
    --secondary-color-light: #F5F5F5;
    --secondary-color-dark: #D3D3D3;
    --tertiary-color: #F2CC8F;
    --box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

* {
    color: var(--text-color);
}

/* Layout */

#container {
    height: fit-content;
    display: grid;
    grid-template-areas:
        "sidebar header header"
        "sidebar content content";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
    font-family: "Manrope", sans-serif;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    padding: 1rem;
}

.header {
    grid-area: header;
    background-color: var(--secondary-color);
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.content {
    grid-area: content;
    background-color: var(--secondary-color);
    padding: 1rem;
}

/* Function classes */
.flex-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
 }

.flex-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* Global styles section */

button {
    border: none;
    border-radius: 10px;;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

#delete {
    margin-left: auto;
    margin-right: 2rem;
    background-color: inherit;
}

/* Header and sidebar section */
.header button{
    background-color: var(--secondary-color);
}

.header button:hover,
.sidebar button:hover {
    background-color: var(--secondary-color-light);
    cursor: pointer;
}

.sidebar button {
    background-color: var(--primary-color);
}

button.active {
    background-color: var(--secondary-color);
    font-weight: 1000;
}

#profile {
    width: fit-content;
    font-size: 1.2rem;
    margin-left: -0.5rem;
}

#settings {
    margin-top: auto;
}

#add-task {
    background-color: var(--secondary-color-dark);
}

#add-task:hover {
    background-color: var(--secondary-color);
}

/* Images and icons section */
img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(1%) saturate(6264%) hue-rotate(197deg) brightness(89%) contrast(96%);
}

.icon-small {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-med {
    width: 2rem;
    height: 2rem;
}

/* Tasks section */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px 0px 2rem 0px;
}

.list-view {
    gap: 1rem;
}

.board-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

h2 {
    margin: 0px;
}

.task {
    background-color: var(--secondary-color-light);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
    border-radius: 10px;
    height: fit-content;
}

.task p {
    margin: 0.2rem 0rem;
    font-weight: lighter;
}

.task button {
    background-color: inherit;
    height: fit-content;
}

.priority-3 img{
    filter: brightness(0) saturate(100%) invert(35%) sepia(24%) saturate(5474%) hue-rotate(212deg) brightness(91%) contrast(94%);
}

.priority-2 img{
    filter: brightness(0) saturate(100%) invert(72%) sepia(96%) saturate(408%) hue-rotate(354deg) brightness(93%) contrast(101%);
}

.priority-1 img{
    filter: brightness(0) saturate(100%) invert(17%) sepia(49%) saturate(4844%) hue-rotate(351deg) brightness(98%) contrast(100%);;
}

/* Dialog and form section */

dialog {
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--secondary-color);
    width: 50%;
    height: fit-content;
}

.form-header{
    justify-content: space-between;
    align-items: center;
}

.form-body{
    gap: 1rem;
    padding: 1rem 0px;
}

.form-group{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

label {
    width: 100px;
}

input, textarea, select{
    border: 1px solid var(--secondary-color-dark);
    background-color: var(--secondary-color-light);
    padding: 0.5rem;
    border-radius: 5px;
}

form button{
    padding: 0.5rem;
    border: none;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#close-form {
    background-color: var(--secondary-color);
}

dialog#sort-dialog {
    width: fit-content;
    margin-left: 87%;
    margin-top: 50px;
}